@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Banker</h1>
    <p class="lead">Welcom to banker system</p>
    <p>Please choose action from the main menu</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Accounts</h2>
        <p>
            Lets you manage and handle customers accounts
        </p>
        <p><a class="btn btn-default" href="/accounts/">Accounts &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Transactions</h2>
        <p>Lets you manage account's transactions</p>
        <p><a class="btn btn-default" href="">Transactions &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Help</h2>
        <p>Do you need help using system functions</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Yeh, I need help &raquo;</a></p>
    </div>
</div>